/var/log/dpkg.log {
	daily
	rotate 0
	compress
	delaycompress
	missingok
	notifempty
	create 644 root root
}
/var/log/alternatives.log {
	daily
	rotate 0
	compress
	delaycompress
	missingok
	notifempty
	create 644 root root
}
