[Unit]
Description=Cyrus IMAP/POP3 daemons
After=local-fs.target network.target

[Service]
Type=simple
Environment=LISTENQUEUE=32 CONF=/etc/imapd.conf MASTERCONF=/etc/cyrus.conf
EnvironmentFile=/etc/default/cyrus-imapd
ExecStartPre=/usr/sbin/cyrus init-helper start
ExecStart=/usr/sbin/cyrmaster -l $LISTENQUEUE -C $CONF -M $MASTERCONF $OPTIONS
ExecStopPost=/usr/sbin/cyrus init-helper stop

[Install]
WantedBy=multi-user.target
